html {
  margin: 0;
  padding: 0;

  max-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  
  height: 100vh;

  background: #000;
  color: #fff;

  /* ikarii, make a theme */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

#chat {
  height: 100%;

  & .messages {
    display: flex;
    flex-direction: column;

    font-size: 24px;

    & .message {
      display: flex;
      flex-direction: row;
      
      & .user {
        display: flex;
        flex-direction: row;
        gap: 0.1em;
        
        & .badges {
          display: flex;
          flex-direction: row;
        }

        & .username {
        font-weight: 700;
        }
      }
  
      & .content {
        color: #D3D3D3;
        font-weight: 700;
      }
    }
  }
}